:root{
  --img-size: 100vw;
  font-size: 12px;
  --primary-color: #FF3E3E;
  --roboto: 'Roboto', sans-serif;
  --montserrat: 'Montserrat', sans-serif;
  --shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
